/config.php
/config/config.php
/storage/uploads/*
/storage/logs/*
/user_images/*
/user_documents/*
!/storage/uploads/.gitkeep
!/storage/logs/.gitkeep
/vendor/
.env
*.log
*.zip
.idea/
oauth.txt
client_secret_*.json
docker-compose.yml
Company Stuff/
Hub Firmware/
kids/
php/